* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #455732;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
}

h1 {
  text-align: center;
}

hr {
  width: 90%;
  font-weight: bold;
  height: 0.3rem;
  border-radius: 0.2rem;
  background: black;
  margin-bottom: 0.8rem;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.game button {
  width: 6rem;
  height: 6rem;
  margin: 0.2rem;
  cursor: pointer;
  font-size: 3rem;
  background-color: #a4a4c1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.5rem;
  background-color: #a4a4c1;
}
.game button.winner {
  background-color: yellow;
  color: red;
  font-weight: bold;
}
