* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", serif;
}
h2 {
  text-transform: capitalize;
}
p {
  font-family: sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
header {
  text-align: center;
}
header h1 {
  margin-top: 1rem;
}
header p {
  margin-bottom: 1rem;
}
.black {
  color: #f7f7f7;
  background-color: #000000;
  text-transform: uppercase;
}
.content-top {
  margin: 1rem;
  text-align: center;
}
.content-image {
  text-align: center;
}
.blue {
  color: #f7f7f7;
  background-color: #43abf6;
}
.button {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  margin-left: 0.3rem;
  margin-right: 0.3rem;

  font-family: sans-serif;
}
.content-bottom {
  margin: 2rem;
  text-align: center;
}
nav {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
footer {
  background-color: #030308;
  text-align: center;
  color: #f7f7f7;
  height: 2.5rem;
  font-size: small;
  padding-top: 0.3rem;
}
