* {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 1rem;
}
li {
  box-sizing: border-box;
  padding: 1.5rem;
  background-color: #1c1a1d;
  color: aliceblue;
  margin: 1rem;
  width: calc(30% - 10px);
  cursor: pointer;
  height: 12rem;
  border-radius: 0.2rem;
  border: 0.3rem solid transparent;
  display: inline-block;
}

.selected {
  border: 0.3rem solid #1010ca;
  background-color: #303030;
}
.hidden {
  display: none;
}
